---
import GithubIcon from "../icons/Github.astro"
---
<div class="bg-neutral-900  w-full px-5 py-4 border-b border-neutral-800 sticky top-0 z-50 backdrop-blur-md opacity-95">
    <div class="flex items-center justify-between mx-auto">
        <div class="flex items-center space-x-2">
            <a href="/">flgr</a>
        </div>
        <div class="flex items-center space-x-0 md:space-x-7">
            <a href="https://github.com/AgustinFRUni/flgr" target="_blank" class="flex items-center space-x-1 hover:opacity-80 transition-opacity">
                <GithubIcon class="size-4 md:size-6"/>
            </a>
        </div>
    </div>
</div>

