---
import { gres } from "../static/gres";
const categories = gres
    .map((gres) => gres.category)
    .filter((category, index, array) => array.indexOf(category) === index);

const {page} = Astro.props
---

<nav class="flex flex-col text-white/70 gap-y-1 mt-6 px-3 bg-neutral-900 flex-1 [scrollbar-color: black]">
    
    <a href="/" class="hover:bg-white/10 py-2 pr-20 pl-1 mx-3 text-start hover:text-white/90 rounded-md">
        <span>All</span>
    </a>
    {
        categories.map((category) => (
            <a href={`/elements/${category.toLowerCase()}`} class="hover:bg-white/10 py-2 pr-28 pl-1 mx-3 text-start hover:text-white/90 rounded-md">
                <span>{category}</span>
            </a>
        ))
    }
</nav>
