---
interface Props {
    cat?: string
}

import { gres } from "../static/gres";
import GresCard from "./GresCard.astro";
import MobileNav from "./MobileNav.astro";

let gresources = gres
const {cat} = Astro.props

if (typeof cat === 'string'){
    gresources = gresources.filter((gr => (gr.category).toLowerCase() === cat))
}

---
<div class="grid grid-cols-4 bg-[#161616] h-full w-full gap-4 auto-rows-[15rem] m-6">
    
    {
        gresources.map(gr => (
            
                <GresCard gresInfo={gr}/>
            
        ))
    }
</div>

