---
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body >
		<div id="app" class="relative md:gap-x-2  gap-y-1  h-screen">
			<header class="[grid-area:header] bg-blue-200">
				HEADER
			</header>
			  <header class="[grid-area:mobile-nav] bg-red-300 md:hidden">
				MOBILE NAV
			</header>
	
			<aside id="lg-nav" class="[grid-area:lg-nav] bg-green-400 hidden flex-col md:flex ">
				LARGE NAV
			</aside>
			<main class="[grid-area:main] bg-yellow-300 flex flex-1">
				<slot />
			</main>
		</div>
		
	</body>
	<!-- -->
</html>
<style>
	
	#app {
		display: grid;
		grid-template-areas: 
			"header header header"
			"mobile-nav mobile-nav mobile-nav" 
			"lg-nav main main"
		;
		grid-template-columns: auto 1fr;
		grid-template-rows: auto auto 1fr;
	}

</style>
<style is:global>
	:root {
	}
	html {
		font-family: system-ui, sans-serif;
		background: #13151a;
	}
</style>
