---
import Header from '../components/Header.astro';
import LgNav from '../components/LgNav.astro';
import MobileNav from '../components/MobileNav.astro';

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body >
		<div id="app" class="relative h-screen bg-[#171717]">
			<header class="[grid-area:header] bg-[#171717] text-white">
				<Header/>
			</header>
			  <header class="[grid-area:mobile-nav] overflow-x-auto md:hidden ">
				<MobileNav/>
			</header>
	
			<aside id="lg-nav" class="[grid-area:lg-nav] overflow-y-auto hidden flex-col md:flex ">
				
				<LgNav/>
			</aside>
			<main class="[grid-area:main]  flex flex-1 bg-[#161616] overflow-x-auto">
				<slot />
			</main>
		</div>
		
	</body>
	<!-- -->
</html>
<style>
	
	#app {
		display: grid;
		grid-template-areas: 
			"header header header"
			"mobile-nav mobile-nav mobile-nav" 
			"lg-nav main main"
		;
		grid-template-columns: auto 1fr;
		grid-template-rows: auto auto 1fr;
	}

</style>
<style is:global>
	:root {
	}
	html {
		font-family: system-ui, sans-serif;
		background: #13151a;
	}
</style>
